body{
    padding-left: 200px;
    padding-right: 200px;
}

header{
    background-image: url(C:\Users\1999g\OneDrive\Documenti\Boolean\timberners\html-css-booleaner\img\pattern.png);
    background-repeat: repeat-x;
}

.logo{
    width: 200px;
    height: auto;
    padding-left: 5px;
    padding-bottom: 10px;
}

.inter{
    padding-right: 24%;

}

.scritto{
    padding-right: 77%;
}

#blue{
    color: aqua;
}

#low{
    font-size: 12px;
}

